<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="com.example.demo.repository.handler.HorseGenderTypeHandler"/>
        <typeHandler handler="com.example.demo.repository.handler.DurationTypeHandler"/>
        <typeHandler handler="com.example.demo.repository.handler.RaceTypeTypeHandler"/>
        <typeHandler handler="com.example.demo.repository.handler.RaceWeatherTypeHandler"/>
        <typeHandler handler="com.example.demo.repository.handler.ClockwiseTypeHandler"/>
        <typeHandler handler="com.example.demo.repository.handler.GradeTypeHandler"/>
        <typeHandler handler="com.example.demo.repository.handler.RaceConditionTypeHandler"/>
        <typeHandler handler="com.example.demo.repository.handler.OldLimitTypeHandler"/>
    </typeHandlers>
</configuration>